#include "Shared.xcconfig"

// App target settings that should not vary by build configuration.
PRODUCT_BUNDLE_IDENTIFIER = __BUNDLE_IDENTIFIER__
GENERATE_INFOPLIST_FILE = NO
CODE_SIGN_ENTITLEMENTS = Sources/Support/App.entitlements
ENABLE_USER_SCRIPT_SANDBOXING = YES
